<div class="row" id="footer">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<ol class="breadcrumb">
  			<li><%= link_to "Strona domowa", root_path %></li>
 		    <li><%= link_to "O Mnie", about_path %></li>
		</ol>
	</div>
	<div class="col-md-1"></div>
</div>
